# Python byte-code
*.py[co]

# Anything under a bin directory
bin/

# Anything under a virutalenv directory
env27/

# Coverage files.
.coverage

# Build directories for distribution
/dist/
/django_replay.egg-info/